

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./charter/charter.css");

@import url('https://rsms.me/inter/inter.css');
html {
	font-family: 'Inter', sans-serif;
		overflow-x: hidden;
		margin-right: calc(-1 * (100vw - 100%));
	
}
@supports (font-variation-settings: normal) {
	html {
		font-family: 'Inter var', sans-serif;
	}
}

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* latin */
@font-face {
	font-family: 'noe';
	font-weight: 500;
	font-style: normal;
	src: url('https://glyph.medium.com/font/b6752aa/0-3j_4g_6bu_6c4_6c8_6c9_6cc_6cd_6ci_6cm/noe-display-500-normal.woff')
		format('woff');
	unicode-range: U+0-7F, U+A0, U+200A, U+2014, U+2018, U+2019, U+201C, U+201D,
		U+2022, U+2026;
}

.noe {
	font-family: 'noe';
}

/* ######################################## */

body {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

@layer utilities {
	.h-whole {
		height: -webkit-fill-available;
	}
	.h-main {
		height: calc(100vh - 50px);
	}
	.z-1 {
		z-index: -1;
	}
	.side-menu {
		position: fixed;
		right: 0;
		top: 0;
		height: 100vh;
		width: 300px;
		transition: 0.3s transform ease-in-out;
	}

	.panel-closed {
		transform: translateX(100%);
	}

	.bgclosed {
		transform: translateX(100%);
		transition: 0.3s transform ease-in-out;
	}
}

@layer base {
	main {
		@apply container max-w-screen-md py-10 mx-auto sm:px-3 md:px-0;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply tracking-tight text-gray-800 md:pt-5 md:mb-2 sm:pt-3 sm:mb-1;
	}
	h1 {
		@apply mb-4 font-extrabold md:text-5xl sm:text-4xl;
	}
	h2 {
		@apply font-bold md:text-4xl sm:text-3xl;
	}
	h3 {
		@apply font-semibold md:text-3xl sm:text-2xl;
	}
	h4{
		@apply font-medium md:text-2xl sm:text-xl;
	}

	p {
		@apply font-serif t:text-base md:mb-4 sm:mb-1 sm:text-sm ;
		letter-spacing: -0.003em;
		word-break: break-word;
		font-weight:400;
		color: rgba(41, 41, 41, 1);
	}

	ul,
	li {
		@apply font-serif sm:text-sm md:text-base;
		letter-spacing: -0.003em;
		word-break: break-word;
		font-weight:400;
		color: rgba(41, 41, 41, 1);

	}
}
