@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://rsms.me/inter/inter.css');
html {
	font-family: 'Inter', sans-serif;
}
@supports (font-variation-settings: normal) {
	html {
		font-family: 'Inter var', sans-serif;
	}
}

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* latin */
@font-face {
	font-family: 'charter';
	font-weight: 400;
	font-style: italic;
	src: url('https://glyph.medium.com/font/81d2bf1/0-3j_4g_6bu_6c4_6c8_6c9_6cc_6cd_6ci_6cm/charter-400-italic.woff')
		format('woff');
	unicode-range: U+0-7F, U+A0, U+200A, U+2014, U+2018, U+2019, U+201C, U+201D,
		U+2022, U+2026;
}

/* rest */
@font-face {
	font-family: 'charter';
	font-weight: 400;
	font-style: italic;
	src: url('https://glyph.medium.com/font/81d2bf1/3k-4f_4h-6bt_6bv-6c3_6c5-6c7_6ca-6cb_6ce-6ch_6cj-6cl_6cn-nvnj/charter-400-italic.woff')
		format('woff');
	unicode-range: U+80-9F, U+A1-2009, U+200B-2013, U+2015-2017, U+201A-201B,
		U+201E-2021, U+2023-2025, U+2027-10FFFF;
}

/* latin */
@font-face {
	font-family: 'charter';
	font-weight: 400;
	font-style: normal;
	src: url('https://glyph.medium.com/font/be78681/0-3j_4g_6bu_6c4_6c8_6c9_6cc_6cd_6ci_6cm/charter-400-normal.woff')
		format('woff');
	unicode-range: U+0-7F, U+A0, U+200A, U+2014, U+2018, U+2019, U+201C, U+201D,
		U+2022, U+2026;
}

/* rest */
@font-face {
	font-family: 'charter';
	font-weight: 400;
	font-style: normal;
	src: url('https://glyph.medium.com/font/be78681/3k-4f_4h-6bt_6bv-6c3_6c5-6c7_6ca-6cb_6ce-6ch_6cj-6cl_6cn-nvnj/charter-400-normal.woff')
		format('woff');
	unicode-range: U+80-9F, U+A1-2009, U+200B-2013, U+2015-2017, U+201A-201B,
		U+201E-2021, U+2023-2025, U+2027-10FFFF;
}

/* latin */
@font-face {
	font-family: 'charter';
	font-weight: 700;
	font-style: italic;
	src: url('https://glyph.medium.com/font/77a0c0c/0-3j_4g_6bu_6c4_6c8_6c9_6cc_6cd_6ci_6cm/charter-700-italic.woff')
		format('woff');
	unicode-range: U+0-7F, U+A0, U+200A, U+2014, U+2018, U+2019, U+201C, U+201D,
		U+2022, U+2026;
}

/* rest */
@font-face {
	font-family: 'charter';
	font-weight: 700;
	font-style: italic;
	src: url('https://glyph.medium.com/font/77a0c0c/3k-4f_4h-6bt_6bv-6c3_6c5-6c7_6ca-6cb_6ce-6ch_6cj-6cl_6cn-nvnj/charter-700-italic.woff')
		format('woff');
	unicode-range: U+80-9F, U+A1-2009, U+200B-2013, U+2015-2017, U+201A-201B,
		U+201E-2021, U+2023-2025, U+2027-10FFFF;
}

/* latin */
@font-face {
	font-family: 'charter';
	font-weight: 700;
	font-style: normal;
	src: url('https://glyph.medium.com/font/f50d520/0-3j_4g_6bu_6c4_6c8_6c9_6cc_6cd_6ci_6cm/charter-700-normal.woff')
		format('woff');
	unicode-range: U+0-7F, U+A0, U+200A, U+2014, U+2018, U+2019, U+201C, U+201D,
		U+2022, U+2026;
}

/* rest */
@font-face {
	font-family: 'charter';
	font-weight: 700;
	font-style: normal;
	src: url('https://glyph.medium.com/font/f50d520/3k-4f_4h-6bt_6bv-6c3_6c5-6c7_6ca-6cb_6ce-6ch_6cj-6cl_6cn-nvnj/charter-700-normal.woff')
		format('woff');
	unicode-range: U+80-9F, U+A1-2009, U+200B-2013, U+2015-2017, U+201A-201B,
		U+201E-2021, U+2023-2025, U+2027-10FFFF;
}

/* latin */
@font-face {
	font-family: 'noe';
	font-weight: 500;
	font-style: normal;
	src: url('https://glyph.medium.com/font/b6752aa/0-3j_4g_6bu_6c4_6c8_6c9_6cc_6cd_6ci_6cm/noe-display-500-normal.woff')
		format('woff');
	unicode-range: U+0-7F, U+A0, U+200A, U+2014, U+2018, U+2019, U+201C, U+201D,
		U+2022, U+2026;
}

.noe {
	font-family: 'noe';
}

@layer utilities {
	.h-main {
		height: calc(100vh - 50px);
	}
	.z-1 {
		z-index: -1;
	}
	.side-menu {
		position: fixed;
		right: 0;
		top: 0;
		height: 100vh;
		width: 300px;
		transition: 0.3s transform ease-in-out;
	}

	.panel-closed {
		transform: translateX(100%);
	}

	.bgclosed {
		transform: translateX(100%);
		transition: 0.3s transform ease-in-out;
	}
}

@layer base {
	main {
		@apply container max-w-2xl mx-auto my-10 px-4 lg:px-0;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-medium pt-5 mb-2;
	}
	h1 {
		@apply text-4xl;
	}
	h2 {
		@apply text-3xl;
	}
	h3 {
		@apply text-2xl;
	}
	h4 {
		@apply text-xl;
	}

	p {
		@apply font-serif mb-4;
	}
	blockquote {
		@apply bg-gray-100 my-6 pt-4 pb-px px-3 border-l-8 border-gray-300;
	}
	ol,
	ul {
		@apply mb-4;
	}
	ol {
		@apply list-decimal;
	}
	ul {
		@apply list-disc;
	}
	ol ol,
	ol ul,
	ul ol,
	ul ul {
		@apply mb-0;
	}
	ul ul,
	ol ul {
		list-style-type: circle;
	}
	pre {
		@apply mb-4 p-5 overflow-auto;
		background: #f5f2f0; /* for consistency with Prismjs theme */
	}
	code {
		@apply bg-gray-100 text-sm font-bold p-1 rounded-sm;
	}
	code:before,
	code:after {
		@apply font-normal text-xs;
		content: '`';
	}
	pre code {
		@apply bg-transparent font-normal p-0;
	}
	pre code::before,
	pre code:after {
		content: none;
	}
	hr {
		@apply my-4;
	}

	img {
		max-width: 100%;
		vertical-align: middle;
	}
}
